{% extends 'base.html.twig' %}

{% block body %}

  
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  <h1 class="page-header"> Splash Request List</h1>

                  <!-- <h2 class="sub-header">Section title</h2> -->
                  <form method="" action="">
                  <div class="table-responsive">
                    <table id="table" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Brand</th>
                          <th>Vendor</th>
                          <th>Requester</th>
                          <th>ISO Code</th>
                          <th>Created On</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                          
                      
                        {% for request in request_list %}
                           <tr>
                               <td><a href="requestDetails/{{request.id}}">{% if (request.brand!=null) %}{{request.brand.name }} {% endif%}</a></td>
                          <td>{% if (request.vendor!=null) %}{{request.vendor.name }} {% endif%}</td>
                          <td>{{request.requesterName}}</td>
                          <td>{{request.isoCode}}</td>
                          <td>{{request.createdOn|date}}</td>
                          <td>{% if request.status == 1 %}Open{% else %} Close{% endif %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

        </form>
        </div>
    
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

			$(document).ready(function() {
				$('#table').dataTable();
			} );
    </script>
{% endblock %}