{% extends 'base.html.twig' %}

{% block body %}

  
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                   <legend><h3 class="page-header">Splash Request List</h3></legend> 

                  <!-- <h2 class="sub-header">Section title</h2> -->
                 <input type="hidden" id="count" name='count' value="{{ request_list|length}}"/>
                  <form method="" action="">
                  <div class="table-responsive">
                    <table id="table" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Brand</th>
                          <th>Vendor</th>
                          <th>Requester</th>
                          <th>ISO Code</th>
                          <th>Created On</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for request in request_list %}
                           <tr>
                               <td><a href="requestDetails/{{request.id}}">{% if (request.brand!=null) %}{{request.brand.name }} {% endif%}</a></td>
                          <td>{% if (request.vendor!=null) %}{{request.vendor.name }} {% endif%}</td>
                          <td>{{request.requesterName}}</td>
                          <td>{{request.isoCode}}</td>
                          <td>{{request.createdOn|date}}</td>
                          <td>{{ request.status }}{% if request.status == 0 %}<span class="label label-primary">Configure</span>
                              {% elseif request.status == 1 %}<span class="label label-info"> Open</span>
                              {% elseif request.status == 2 %}<span class="label label-success"> Live</span> 
                              {% elseif request.status == 3 %}<span class="label label-danger"> Not-Live</span>    
                                  {% endif %}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

        </form>
        </div>
    
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">

			$(document).ready(function() {
                        
                            $('#table').dataTable();
                            document.getElementById("badge").innerHTML=$('#count').val();
 
                        } );
                        
    </script>
{% endblock %}