{% extends '::base.html.twig' %}

{% block title %}Splash Configration{% endblock %}


{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-2 main">
        <legend><h3>Splash Request Form</h3></legend>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(RequestForm, {'attr': {'action':path('mobile_splash_request_add'), 'method':'POST', 'novalidate':'novalidate'} }) }}
            {{ form_label(RequestForm.brand) }}
            {{ form_widget(RequestForm.brand) }}
            {{ form_label(RequestForm.country) }}
            {{ form_widget(RequestForm.country) }}
            {{ form_label(RequestForm.vendor) }}
            {{ form_widget(RequestForm.vendor) }}
            {{ form_label(RequestForm.logoUrl) }}
            {{ form_widget(RequestForm.logoUrl) }}
            {{ form_label(RequestForm.vendorDomain) }}
            {{ form_widget(RequestForm.vendorDomain) }}
            {{ form_label(RequestForm.headline) }}
            {{ form_widget(RequestForm.headline) }}
            {{ form_label(RequestForm.subline) }}
            {{ form_widget(RequestForm.subline) }}
            {{ form_label(RequestForm.customizedBackground) }}
            {{ form_widget(RequestForm.customizedBackground) }}
            <div id='customizedfield'>
                {{ form_label(RequestForm.isoPortrait) }}
                {{ form_widget(RequestForm.isoPortrait) }}
                {{ form_label(RequestForm.isoLandscape) }}
                {{ form_widget(RequestForm.isoLandscape) }}
                {{ form_label(RequestForm.androidPortrait) }}
                {{ form_widget(RequestForm.androidPortrait) }}
                {{ form_label(RequestForm.androidLandscape) }}
                {{ form_widget(RequestForm.androidLandscape) }}
                {{ form_label(RequestForm.wp8Portrait) }}
                {{ form_widget(RequestForm.wp8Portrait) }}
                {{ form_label(RequestForm.wp8Landscape) }}
                {{ form_widget(RequestForm.wp8Landscape) }}
            </div>
            <br>{{ form_row(RequestForm.save) }}
            {{ form_row(RequestForm._token) }}
            {{form_widget(RequestForm._token)}}
        {{form_end(RequestForm)}}
    </div>
{% endblock %}

{% block javascripts   %}
    <script src="{{ asset('js/splashdetails.js') }}"></script>
    <script type='text/javascript'>
        $().ready(function() { 
            $('#customizedfield').hide();
            $('#splash_customizedBackground').change(function() {
                if($(this).val() == 0){
                $('#customizedfield').hide(); 
                 }
                else  $('#customizedfield').show();
            })  
            if($('#splash_customizedBackground').val() == 1){
                $('#customizedfield').show(); 
            }
        });
    </script>
 {% endblock %}